.listContainer {
    flex-wrap: wrap;
    width: calc(100vw - 300px);
    min-width: 400px;
    height: auto;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
