.footer {
    width: 300px;
    height: auto;
    margin:30px auto;
}

.footer-item {
    height: 20px;
    font-size: 16px;
    color: black;
    line-height: 20px;
    text-align: center;
}
