@import '~antd/dist/antd.css';
body {
    /* background-color: rgb(243, 244, 246); */
    background-color: #fff;
}

.readme {
    display: block;
    margin: 20px auto;
    width: 200px;
    text-align: center;
    font-size: 20px;
}
